{% extends "parent.html" %}
{% block title %}Tienda de Videojuegos{% endblock %}
{% block dynamic %}
<div class="container">
  <div class="row">
    
    <h3>Categorias</h3>
  </div>
    <br/>
    <a class="btn btn-primary" href="{{url_for('categorias_new')}}" role="button">Nueva categoria</a>
    <br/><br/>

    <div class="list-group">
      <table class="table table-bordered">
        <tr>
          <th>Nombre</th>
        </tr>
        {% for c in categorias %}
          <tr>
            <td>{{ c.nombre }}</td>
            <td><a href="https://www.google.es"><span class="glyphicon glyphicon-pencil">Modificar</span></a></td>
          </tr>
        {% endfor %}
      </table>
    </div>

  
</div>

{% endblock %}